:root {
  --primary-font-family: "roboto", sans-serif;
  --secondary-font-family: "inter", sans-serif;
  --font-color-dark-theme: #ffffff;
  --font-color-light-theme: #000000;
  --font-color-accent: #0a8bfe;
  --main-text-color: #737373;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}
body {
  font-family: var(--primary-font-family);
  background-color: tomato;
}
.container {
  width: 1190px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*______________HEADER___________*/
.logo {
  font-size: 15px;
  color: var(--font-color-dark-theme);
  display: flex;
  align-items: center;
}
.logo-img {
  margin-right: 8px;
}
.nav-link {
  font-size: 13px;
  line-height: 2.3;
  color: var(--font-color-dark-theme);
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-btn {
  font-size: 13px;
  line-height: 1.23;
  text-align: center;
  color: var(--font-color-dark-theme);
  border: 1px solid var(--font-color-dark-theme);
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 16px;
}
.header-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
.header-top {
  position: absolute;
  width: 100%;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-list {
  display: flex;
  align-items: center;
  margin-right: 52px;
}
.header-inner {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
/*_____________________HERO______________*/
.hero-title {
  font-size: 42px;
  line-height: 1.19;
  color: var(--font-color-dark-theme);
  margin-bottom: 35px;
  max-width: 430px;
}
.hero-description {
  font-size: 11px;
  line-height: 2.72;
  color: var(--font-color-dark-theme);
  margin-bottom: 35px;
  max-width: 420px;
}
.hero-link {
  display: inline-block;
  font-size: 15px;
  line-height: 2;
  color: var(--font-color-dark-theme);
  background-color: var(--font-color-accent);
  padding: 15px 37px;
  border-radius: 4px;
  border: 1px solid var(--font-color-accent);
  border: none;
}
.hero {
  padding: 240px 0 270px 0;
  max-width: 1440px;
  border-color: black;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../images/heder-photo.jpg);
}
/*______________WORK______________*/

.work-title {
  font-size: 41px;
  line-height: 1.22;
  text-align: center;
  color: var(--font-color-light-theme);
}
.work-text {
  font-size: 12px;
  line-height: 2.5;
  text-align: center;
  color: #737373;
}
.work-btn {
  font-size: 23px;
  line-height: 1.65;
  text-align: center;
  color: var(--font-color-light-theme);
  background-color: transparent;
  border: none;
}
.work-subtitle {
  font-size: 20px;
  line-height: 1.4;
  color: var(--font-color-light-theme);
}
.work-stages {
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-text-color);
}
.work-contact-btn {
  font-size: 15px;
  line-height: 2;
  color: var(--font-color-dark-theme);
  background-color: #0a8bfe;
  border-radius: 4px;
  padding: 15px 49px;
}
.active {
  color: var(--font-color-accent);
}
