:root {
  --primary-font-family: "roboto", sans-serif;
  --secondary-font-family: "inter", sans-serif;
  --font-color-dark-theme: #ffffff;
  --font-color-light-theme: #000000;
  --font-color-accent: #0a8bfe;
  --main-text-color: #737373;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}
body {
  font-family: var(--primary-font-family);
}
.container {
  width: 1190px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*______________HEADER___________*/
.logo {
  font-size: 15px;
  color: var(--font-color-dark-theme);
  display: flex;
  align-items: center;
}
.logo-img {
  margin-right: 8px;
}
.nav-link {
  font-size: 13px;
  line-height: 2.3;
  color: var(--font-color-dark-theme);
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-btn {
  font-size: 13px;
  line-height: 1.23;
  text-align: center;
  color: var(--font-color-dark-theme);
  border: 1px solid var(--font-color-dark-theme);
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 16px;
}
.header-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
.header-top {
  position: absolute;
  width: 100%;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-list {
  display: flex;
  align-items: center;
  margin-right: 52px;
}
.header-inner {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
/*_____________________HERO______________*/
.hero-title {
  font-size: 42px;
  line-height: 1.19;
  color: var(--font-color-dark-theme);
  margin-bottom: 35px;
  max-width: 430px;
}
.hero-description {
  font-size: 11px;
  line-height: 2.72;
  color: var(--font-color-dark-theme);
  margin-bottom: 35px;
  max-width: 420px;
}
.hero-link {
  display: inline-block;
  font-size: 15px;
  line-height: 2;
  color: var(--font-color-dark-theme);
  background-color: var(--font-color-accent);
  padding: 15px 37px;
  border-radius: 4px;
  border: 1px solid var(--font-color-accent);
  border: none;
}
.hero {
  padding: 240px 0 270px 0;
  max-width: 1440px;
  border-color: black;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../images/heder-photo.jpg);
}
/*______________WORK______________*/
.work {
  padding: 150px 0;
  text-align: center;
}

.work-title {
  font-size: 41px;
  line-height: 1.22;
  text-align: center;
  color: var(--font-color-light-theme);
  margin-bottom: 35px;
}
.work-text {
  font-size: 12px;
  line-height: 2.5;
  text-align: center;
  color: #737373;
  margin-bottom: 85px;
}
.work-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.work-btn {
  font-size: 23px;
  line-height: 1.65;
  text-align: center;
  color: var(--font-color-light-theme);
  background-color: transparent;
  border: none;
}
.work-btn-item:not(:last-child) {
  margin-right: 100px;
}
.work-subtitle {
  font-size: 20px;
  line-height: 1.4;
  color: var(--font-color-light-theme);
  margin-bottom: 23px;
}
.work-stages {
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-text-color);
}
.work-contact-btn {
  display: inline-block;
  font-size: 15px;
  line-height: 2;
  color: var(--font-color-dark-theme);
  background-color: #0a8bfe;
  border-radius: 4px;
  padding: 15px 49px;

  margin-top: 50px;
}
.active {
  color: var(--font-color-accent);
}
.work-stages-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -40px;
  margin-bottom: -40px;
}
.work-item {
  width: 560px;
  border: 1px solid #e8e8e8;
  padding: 38px 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  text-align: left;
}
/*______________RESOURCES______________*/
.resources-title {
  font-size: 42px;
  line-height: 1.19;
  text-align: center;
  color: var(--font-color-light-theme);
  margin-bottom: 35px;
}
.resources-subtitle {
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 76px;
}
.resources-item-title {
  font-size: 24px;
  line-height: 1.58;
  color: var(--font-color-light-theme);
  margin-bottom: 10px;
}
.resources-item-description {
  font-size: 12px;
  line-height: 2.5;
  color: var(--main-text-color);
}
.resources {
  padding: 150px 0px 160px 0px;
}
.resources-list {
  display: flex;
  padding: 0 10px;
  gap: 30px;
}
.resources-item {
  width: calc((100% - 60px) / 3);

  padding: 10px;
}
.resources-wrap {
  margin-top: 10px;
  padding: 30px 40px;
}
